$p-main-color: #0bc1c4;
$p-header-color: #22f8fc;
$p-gold-color: #dbb000;

.protfolio {
    .top {
        background-color: $p-gold-color !important;
        margin: 70px 0;
    }
    .card {
        margin-right: auto;
        margin-left: auto;
        border-radius: 20px;
        border: 2px solid $p-main-color;
        transform: translate(0px, 70px);
        background-color: #eeeaea !important;
        position: relative;
        img {
            border-radius: 0px 20px 20px 200px;
            height: 100%;
            border: 1px solid $p-main-color;
            
        }
        .card-body {
            h5 {
                font-size: 20px;
                margin-bottom: 20px;
                margin-top: 20px;
                color: $p-main-color;
                font-weight: bold;
                span {
                    color: $p-gold-color;
                    font-weight: 500;
                }

            }
        }
        .row {
            justify-content: center;
        }

    }

    .grades {
        margin-top: 100px;

        .skill {
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-weight: bold;
            font-size: 20px;
            h5 {
                display: inline;
                font-weight: bold;
                font-size: 20px;
            }
        }
        .a {
            width: 100%;
            background-color: #eeeaea;
            height: 20px;
            margin-bottom: 35px;
            .b {
                background-color: $p-gold-color;
            }
        }

    }

    section.tips {
        .overlay {
            background-color: rgba(0, 0, 0, 0.7);
            padding: 5px 0;
            .tips-title {
                h2 {
                    font-size: 30px;
                    color: $p-main-color;
                    margin-bottom: 60px;
                    margin-top: 20px;
                }
            }

            .accordion {
                .accordion-body {
                    p {
                        font-size: 15px;
                        line-height: 20px;
                        color: #c9c9c9;
                    }
                }
                .accordion-item {
                    margin-bottom: 25px;
                    background-color: #393939;
                    border: 0;
                    border-radius: 0;

                    .accordion-header {
                        button {
                            background-color: transparent;
                            font-size: 18px;
                            color: #fff;
                            border-bottom: 0;
                            &::after {
                                content: none;
                            }
                            &:focus {
                                border-color: transparent;
                                box-shadow: 0 0 0 0;
                            }
                            svg {
                                margin-right: auto;
                                transition: all 0.5s ease;
                                color: #fff;
                            }
                            span {
                                color: $p-header-color;
                                font-weight: 600;
                                font-size: 15px;
                            }
                        }
                        button.collapsed {
                            svg {
                                transform: rotate(180deg) !important;
                            }
                        }
                    }
                }
            }
    
        }
    }
}





@media(max-width: 992px) {
    .protfolio {
        .card {
            .card-body {
                h5 {
                    font-size: 15px;
                }
            }
    
        }
    }
}

@media(max-width: 767px) {
    .protfolio {
        .col-md-8 {
            padding: 0 !important;
        }
        .card {
            width: 400px;
            img {
                border-radius: 20px 20px 0px 0px !important;
                height: 100%;
                
            }
            .card-body {
                padding: 0 !important;
            }
    
        }
    }
}

@media(max-width: 400px) {
    .protfolio {
        .col-md-8 {
            padding: 0 !important;
        }
        .card {
            width: 400px;
                       img {
                border-radius: 20px 20px 0px 0px !important;
                height: 100%;
                
            }
                
            .card-body {
                padding: 0 !important;
                h5 {
                    font-size: 13px;
                }
            }
    
        }
    }
}

@media(max-width: 300px) {
    .col-md-8 {
        padding: 0 !important;
    }
    .protfolio {
        .col-md-8 {
            padding-right: 0px;
            padding-left: 0px;
        }
        .card {
                
            .card-body {
                padding: 0 !important;
                h5 {
                    font-size: 13px;
                }
            }
    
        }
    }
}